{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col">
				
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-7 col-md-6 text-left text-md-right">
				<h1 class="logo-font homepage-title">
					Boutique <span class="highlight">Ado</span>
				</h1>
				<hr class="my-5"/>
				<div class="my-5 text-md-right">
					<h4>
						<a href="{% url 'products' %}" class="text-muted ease-link">
							<span>Shop Now</span>
							<span class="icon">
								<i class="fas fa-arrow-right"></i>
							</span>
						</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}