{% extends 'base.html' %}
{% load static %}

{% block page_header %}
	<div class="container header-container">
		<div class="row">
			<div class="col">
				
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-7 col-md-6 text-left text-md-right">
				<h1 class="display-2">
					<span class="highlight text-success">Shop</span> 'til you <span class="highlight text-danger">drop</span>
				</h1>
				<hr class="my-5"/>
				<h1 class="display-6 text-muted">Thousands of items at the lowest prices!</h1>
				<a href="{% url 'products' %}" class="btn btn-lg btn-success btn-block my-5 text-md-right">
					<span>Find Your Deal</span>
					<span class="icon">
						<i class="fas fa-arrow-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}