.order-history {
	max-height: 416px; /* height of profile form + submit button */
	overflow-y: auto;	
}

.profile-form-input::placeholder {
	color: #aab7c4;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}