<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
	<a href="#" class="navbar-brand font-weight-bold d-block d-lg-none">MegaMenu</a>
	<button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarContent" class="collapse navbar-collapse">
		<ul class="navbar-nav">
			<!-- Megamenu-->
			<li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase">Mega Menu</a>
				<div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
					<div class="container-fluid p-0">
						<div class="row rounded-0 m-0 shadow-sm">
							<div class="col-lg-7 col-xl-8 megamenu-background">
								<div class="p-4">
									<div class="row">
										<div class="col-lg-6 mb-4">
											<h6 class="font-weight-bold text-uppercase">Men's Clothing</h6>
											<ul class="list-unstyled">
												<li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
											</ul>
										</div>
										<div class="col-lg-6 mb-4">
											<h6 class="font-weight-bold text-uppercase">Women's Clothing</h6>
											<ul class="list-unstyled">
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
											</ul>
										</div>
										<div class="col-lg-6 mb-4">
											<h6 class="font-weight-bold text-uppercase"></h6>
											<ul class="list-unstyled">
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
											</ul>
										</div>
										<div class="col-lg-6 mb-4">
											<h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
											<ul class="list-unstyled">
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
												<li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block">
								<div class="row h-100 bg-info">
									<div class="col text-center text-light my-auto">
										<h1 class="display-3">Free Shipping</h1>
										<h5>On all orders over $50!</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">About</a></li>
			<li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Services</a></li>
			<li class="nav-item"><a href="" class="nav-link font-weight-bold text-uppercase">Contact</a></li>
		</ul>
	</div>
</nav>