{% extends 'base.html' %}
{% load static %}
{% load product_tools %}

{% block page_header %}
<div class="container-fluid header-container">
	<div class="row">
		<div class="col">
		</div>
	</div>	
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
	<div class="row">
		{% include "products/includes/sidebar.html" %}
		<div class="product-container col-12 col-lg-9 col-xl-10">
			<div class="row">
				{% for product in products %}
					<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
						<div class="card h-100 shadow">
							{% if product.image %}
							<a href="{{ product.image.url }}" target="_blank">
								<img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
							</a>
							{% else %}
							<a href="">
								<img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
							</a>
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">{{ product.name }}</h5>
								<div class="desc-container">
									<small class="card-text text-muted">{{ product.description }}</small>
								</div>
								<small class="nav-link p-0 read-more-link">Read More</small>
							</div>
							<div class="product-rating">
								{% if product.rating %}
									<small class="text-muted">{{ product.rating }} / 5</small>
								{% else %}
									<small class="text-muted">No Rating</small>
								{% endif %}
							</div>
							<div class="card-footer text-left">
								<div class="row">
									<div class="col">
										<p class="lead text-left font-weight-bold">${{ product.price }}</p>
									</div>
								</div>
								<div class="row">
									<div class="col justify-content-center">						
										<form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
											{% csrf_token %}
											<div class="form-row">
												<div class="col">
													<input class="form-control form-control-sm" type="number" name="quantity" value="1" min="1" max="99" id='id_qty'>
												</div>
												<div class="col">
													<input type="submit" class="form-control form-control-sm btn btn-sm btn-success" value="Add to Cart!">
												</div>
												<input type="hidden" name="redirect_url" value="{{ request.build_absolute_uri }}">
											</div>
										</form>
										<small class="d-block mt-3">See more <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a></small>
										{% if request.user.is_superuser %}
										<small class="d-block"><a href="{% url 'edit_product' product.id %}">Edit Product</a></small>
										<small class="d-block"><a class="text-danger" href="{% url 'delete_product' product.id %}">Delete Product</a></small>
										{% endif %}
									</div>
								</div>						
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block postloadjs %}
	{{ block.super }}
	<script type="text/javascript">
		$('.read-more-link').click(function() {
			var descContainer = $(this).closest('.card-body').find('.desc-container')[0];
			if($(descContainer).hasClass('expanded')){
				$(descContainer).removeAttr('style');
				$(descContainer).removeClass('expanded');
				$(this).text('Read More')
			} else {
				$(descContainer).css('max-height', '1000px');
				$(descContainer).addClass('expanded');
				$(this).text('Read Less')
			}
		})
	</script>
{% endblock %}


